---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="">
	<section>
		<h1>Sign In</h1>
			<r4-sign-in />
	</section>
	<section>
		Don't have an account yet? <a href="/auth/up">Sign Up</a>
	</section>
</Layout>
