---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="">
	<section>
		<h1>Sign Up</h1>
		<r4-sign-up />
	</section>
	<section>
		Already have an account? <a href="/auth/in">Sign In</a>
	</section>
</Layout>
