---
import sdk from '@radio4000/sdk'
import Channel from '../components/Channel.astro'
import Layout from '../layouts/Layout.astro'
const {slug} = Astro.params

// Find channel by slug, if no channel, look in Firebase.
const {data: channel, error} = await sdk.findChannelBySlug(slug)
let oldChannel
if (error) {
	const res = await sdk.findFirebaseChannelBySlug(slug)
	if (res) oldChannel = Object.values(res)[0]
}
if (!channel && !oldChannel) {
	return Astro.redirect('404')
}

// const canEdit = await sdk.canEditChannel(channel.slug)
// const canEdit = false
---

<Layout title={channel.name}>
	{oldChannel && <p>You've landed on an old channel.</p>}
	<p>hey</p>
	<Channel channel={channel} />
</Layout>

<script type="module">
	// import sdk from 'https://cdn.jsdelivr.net/npm/@radio4000/sdk/dist/index.min.js'
	// const user = await sdk.getUser()
	// console.log('client user', user)
</script>
