---
import sdk from '@radio4000/sdk'
import { dateTimeFormat } from 'astro/dist/core/logger/core'
import Channel from '../components/Channel.astro'
import Layout from '../layouts/Layout.astro'

interface Props {
	slug: string
}
const {slug} = Astro.params

console.log('slug', slug)

// Find channel by slug, if no channel, look in Firebase.
const {data: channel, error} = await sdk.channels.readChannel(slug)
let oldChannel
if (error) {
	const res = await sdk.channels.readChannel(slug)
	if (res) oldChannel = Object.values(res)[0]
}
if (!channel && !oldChannel) {
	return Astro.redirect('404')
}

// Can't do this, because the page is pre-rendered, so you're never signed in.
// const canEdit = await sdk.channels.canEditChannel(channel.slug)
// console.log(canEdit)
---

<Layout title={channel?.name}>
	{oldChannel && <p>You've landed on an old channel.</p>}
	<Channel channel={channel} />
</Layout>

<script type="module">
	// import sdk from 'https://cdn.jsdelivr.net/npm/@radio4000/sdk/dist/index.min.js'
	// const user = await sdk.users.readUser()
	// console.log('client user', user)
</script>
