---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Add track">
	<h1>Add track</h1>
	<r4-user-channels-select></r4-user-channels-select>
	<r4-track-create></r4-track-create>

	<script>
		const select = document.querySelector('r4-user-channels-select')
		const form = document.querySelector('r4-track-create')

		select.addEventListener('input', ({detail}) => {
			form.querySelector('[name="channel_id"]').value = detail.channel.id
		})

		form.addEventListener('submit', ({detail}) => {
			console.log(detail)
		})
	</script>
</Layout>
