---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Add track">
	<h1>Add track</h1>
	<p>Select a channel <r4-user-channels-select></r4-user-channels-select></p>
	<r4-track-create></r4-track-create>

	<script>
		const select = document.querySelector('r4-user-channels-select')
		const form = document.querySelector('r4-track-create')

		if (!select || !form) return

		select.addEventListener('input', (event) => {
			const channelInput = form.querySelector('[name="channel_id"]')
			channelInput.value = event.detail.channel.id
			channelInput.dispatchEvent(new Event('input'))
		})

		form.addEventListener('submit', (event) => {
			console.log(event.detail)
		})
	</script>
</Layout>
