---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Add track">
	<h1>Add track</h1>
	<r4-user-channels-select></r4-user-channels-select>
	<r4-track-create></r4-track-create>

	<script>
		const select = document.querySelector('r4-user-channels-select')
		const form = document.querySelector('r4-track-create')

		select.addEventListener('input', ({detail}) => {
			const channelInput = form.querySelector('[name="channel_id"]')
			channelInput.value = detail.channel.id
			channelInput.dispatchEvent(new Event('input'))
		})

		form.addEventListener('submit', ({detail}) => {
			console.log(detail)
		})
	</script>
</Layout>
