---
import Layout from '../layouts/Layout.astro'

---

<Layout title="Create radio">
	<h1>Create radio</h1>

	<r4-channel-create />
	
	<p id="msg"></p>
</Layout>

<script>
	function handleSubmit(event) {
		console.log('created channel', event.detail)
		document.querySelector('#msg').textContent = 'Created channel ' + event.detail.data.name
	}
	document.querySelector('r4-channel-create').addEventListener('submit', handleSubmit)
</script>
