---
import Layout from '../layouts/Layout.astro'
// import sdk from '@radio4000/sdk'

// const channels = await sdk.findChannels()
// console.log(channels)
---

<Layout title="Explore">
	<p>Explore</p>
</Layout>
