---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Explore">
	<h1>Explore</h1>
	<r4-list-channels/>
</Layout>

<script>
	const $el = document.querySelector('r4-list-channels')
	$el.setAttribute('origin', `${window.origin}/{{slug}}`)
</script>
