---
import Layout from '../layouts/Layout.astro'
import sdk from '@radio4000/sdk'
const { data } = await sdk.findChannels(500)
// console.log(data)
---

<Layout title="Explore">
	<h1>Explore</h1>
	<ul>
		{
			data.map((channel) => (
				<li>
					<a href={`/${channel.slug}`}>{channel.name}</a>
				</li>
			))
		}
	</ul>
</Layout>
