---
import Layout from '../layouts/Layout.astro'
import sdk from '@radio4000/sdk'
const {data} = await sdk.findChannels(500)
---
<Layout>
	<ul>
		{
			data.map((channel) => (
				<li>
					<a href={`/${channel.slug}`}>{channel.name} <small>@{channel.slug}</small></a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
	small {
		opacity: 0.5;
	}
</style>

