---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Create content on r4">
	<h1>Create content</h1>
	<menu>
		<li>
			<a href="/create/track">track</a>
		</li>
		<li>
			<a href="/create/channel">channel</a>
		</li>
	</menu>
</Layout>
