---
import sdk from '@radio4000/sdk'
// This doesn't work server-side, dunno why.
// const user = await sdk.users.readUser()
// console.log(user)
---

<header>
	<nav>
		<a href="/"><r4-favicon /></a>
	</nav>
	<nav>
		<!-- <r4-user></r4-user> -->
		<r4-auth-status>
			<nav slot="out">
				<a href="/auth/sign-up">Sign Up</a>
				<a href="/auth/sign-in">Sign In</a>
			</nav>
			<nav slot="in">
				<a href="/create-radio">Create radio</a>
				<a href="/add">Add track</a>
				<r4-sign-out />
			</nav>
		</r4-auth-status>
	</nav>
</header>

<style>
	header {
		display: flex;
		flex-flow: row wrap;
		/* justify-content: space-between; */
		gap: 2em;
	}
	nav {
		display: flex;
		place-items: center;
		gap: 1em;
		min-height: 3em;
	}
	nav r4-favicon {
		width: 2em;
	}
	a {
		color: black;
	}
</style>
