---
import Layout from '../../layouts/Layout.astro'
const {slug} = Astro.params
import sdk from '@radio4000/sdk'
const {data: channel} = await sdk.findChannelBySlug(slug)
if (!channel) Astro.redirect('404')
---

<Layout title="CMS">
	<p>Do you really want to delete the radio <a href={`/${channel.slug}`}>{channel.name}</a></p>
	<r4-channel-delete id={channel.id}></r4-channel-delete>
</Layout>
