---
export interface Props {
	title: string;
}

import sdk from '@radio4000/sdk'
import SiteMenu from '../components/site/menu.astro'

const { title } = Astro.props;
const {data} = await sdk.findChannels(500)
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" sizes="192x192" />
		<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
		<!-- <meta name="theme-color" content="#5d1ae6" /> -->
		<meta name="og:image" content="https://radio4000.com/favicon.png" />
		<title>Radio4000</title>
		<title>{title}</title>
		<script>
			import '@radio4000/components'
		</script>
	</head>

	<body>
		<header>
		</header>
		<aside>
			<SiteMenu/>
		</aside>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	r4-favicon {
		display: block;
	}
	r4-favicon svg {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	nav {
		display: flex;
		place-items: center;
		gap: 1em;
		min-height: 3em;
	}
	nav r4-favicon {
		width: 3em;
	}

	section {
		margin-bottom: 1rem;
	}
</style>
