---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" sizes="192x192" />
		<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
		<!-- <meta name="theme-color" content="#5d1ae6" /> -->
		<meta name="og:image" content="https://radio4000.com/favicon.png" />
		<title>Radio4000</title>
		<title>{title}</title>
		<script>
			import '@radio4000/components'
		</script>
	</head>
	<body>
		<header>
		</header>
		<aside>
			<nav>
				<a href="/"><r4-favicon /></a>
				<a href="/create-radio">Create radio</a>
				<a href="/add-track">Add track</a>
				<a href="/explore">Explore</a>
				<a href="/api/channels">/api/channels</a>
			</nav>
			<nav>
				<a href="/auth/sign-up">Sign Up</a>
				<a href="/auth/sign-in">Sign In</a>
				<a href="/auth/sign-out">Sign Out</a>
			</nav>
		</aside>
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	r4-favicon {
		display: block;
	}
	r4-favicon svg {
		width: 100%;
		max-width: 100%;
		height: auto;
	}
	nav {
		display: flex;
		place-items: center;
		gap: 1em;
		min-height: 3em;
	}
	nav r4-favicon {
		width: 3em;
	}
</style>
